<!DOCTYPE html>
<html>
<head>
  <title>ALX Study Buddy Hub - Sign In</title>
  <link rel="stylesheet" type="text/css" href="main1.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>Sign In</h1>
      <form>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>

        <input type="submit" value="Sign In" class="btn-signin">
      </form>
      <p class="signup-link">Don't have an account? <a href="registration.html">Register here</a></p>
      <p class="extra-info">Forgot your password? <a href="password_reset.html">Reset it here</a></p>
      <p class="extra-info">Need help? Contact our support team at <a href="mailto:support@gmail.com">support@gmail.com</a></p>
    </div>
  </div>
</body>
</html>